http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2//orders
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer TEST_2jiz6tjVmP2AiDwGlX6QTxI3V9kjvcnwmf_6mKy3uvI
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      etag: W/"dc31b42828cd404f06feabc0057b8e4f"
    body:
      encoding: UTF-8
      file: no
      string: '{"orders":[{"id":"NPFPFUEELNX3","external_id":"manual-payment-post","created_at":"2021-09-19T16:40:50.337Z","status":"EXECUTED","payment":{"subtotal":10.0,"total":10.0,"fees":0.0},"rewards":[{"id":"MIJI5M0CWB00","order_id":"NPFPFUEELNX3","value":{"denomination":10.0,"currency_code":"USD"},"delivery":{"method":"EMAIL","status":"PENDING"},"recipient":{"email":"jdt@jdtrat.com","name":"Manual
        Person"}}]},{"id":"666C3TFV789G","external_id":"sent-from-test_client12:09_09-19-21","created_at":"2021-09-19T16:09:58.087Z","status":"EXECUTED","payment":{"subtotal":0.36,"total":0.36,"fees":0.0},"rewards":[{"id":"O68G4UC8Z7EG","order_id":"666C3TFV789G","value":{"denomination":0.36,"currency_code":"USD"},"delivery":{"method":"EMAIL","status":"PENDING"},"recipient":{"email":"jdt@jdtrat.com","name":"jdt"}}]},{"id":"8DVJLC24T0IU","external_id":"sent-from-test_no-client12:09_09-19-2[...]
