http_interactions:
- request:
    method: get
    uri: https://testflight.tremendous.com/api/v2//funding_sources
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer TEST_2jiz6tjVmP2AiDwGlX6QTxI3V9kjvcnwmf_6mKy3uvI
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      etag: W/"49a549715e28f7e5dc6e3d86fbbb848c"
    body:
      encoding: UTF-8
      file: no
      string: '{"funding_sources":[{"method":"balance","id":"8X9X7Z81XZ9X","meta":{"available_cents":497388,"pending_cents":0}}]}'
  recorded_at: 2021-09-19 17:28:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
