http_interactions:
- request:
    method: post
    uri: https://testflight.tremendous.com/api/v2/orders
    body:
      encoding: ''
      string: '{"external_id":"sent-from-test_no-client12:09_09-19-21","payment":{"funding_source_id":"8X9X7Z81XZ9X"},"rewards":{"value":{"denomination":0.36,"currency_code":"USD"},"delivery":{"method":"EMAIL"},"recipient":{"name":"jdt","email":"jdt@jdtrat.com"},"products":["Q24BD9EZ332JT","VW9JLMPRL9N7"]}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer TEST_2jiz6tjVmP2AiDwGlX6QTxI3V9kjvcnwmf_6mKy3uvI
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      etag: W/"83b120e767015605bf701ec82fdd5416"
    body:
      encoding: UTF-8
      file: no
      string: '{"order":{"id":"8DVJLC24T0IU","external_id":"sent-from-test_no-client12:09_09-19-21","created_at":"2021-09-19T16:09:57.406Z","status":"EXECUTED","payment":{"subtotal":0.36,"total":0.36,"fees":0.0},"rewards":[{"id":"Q2HMCNY346RL","order_id":"8DVJLC24T0IU","value":{"denomination":0.36,"currency_code":"USD"},"delivery":{"method":"EMAIL","status":"PENDING"},"recipient":{"email":"jdt@jdtrat.com","name":"jdt"}}]}}'
  recorded_at: 2021-09-19 16:09:57 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
